In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([{'geoid': 1,
  'name': 'Alabama',
  'variable': 'pop_renter',
  'measure': 'estimate',
  'value': 1434765},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'pop_renter',
  'measure': 'error',
  'value': 16736},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'median_rent',
  'measure': 'estimate',
  'value': 747},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'median_rent',
  'measure': 'error',
  'value': 3},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'pop_renter',
  'measure': 'estimate',
  'value': 3592422},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'pop_renter',
  'measure': 'error',
  'value': 33385},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'median_rent',
  'measure': 'estimate',
  'value': 927},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'median_rent',
  'measure': 'error',
  'value': 3}])

df

   geoid     name     variable   measure    value
0      1  Alabama   pop_renter  estimate  1434765
1      1  Alabama   pop_renter     error    16736
2      1  Alabama  median_rent  estimate      747
3      1  Alabama  median_rent     error        3
4     13  Georgia   pop_renter  estimate  3592422
5     13  Georgia   pop_renter     error    33385
6     13  Georgia  median_rent  estimate      927
7     13  Georgia  median_rent     error        3

In [4]:
df.to_dict('list')

{'geoid': [1, 1, 1, 1, 13, 13, 13, 13],
 'name': ['Alabama',
  'Alabama',
  'Alabama',
  'Alabama',
  'Georgia',
  'Georgia',
  'Georgia',
  'Georgia'],
 'variable': ['pop_renter',
  'pop_renter',
  'median_rent',
  'median_rent',
  'pop_renter',
  'pop_renter',
  'median_rent',
  'median_rent'],
 'measure': ['estimate',
  'error',
  'estimate',
  'error',
  'estimate',
  'error',
  'estimate',
  'error'],
 'value': [1434765, 16736, 747, 3, 3592422, 33385, 927, 3]}

In [5]:
pd.DataFrame({'geoid': [1, 13],
 'name': ['Alabama', 'Georgia'],
 'pop_renter_estimate': [1434765, 3592422],
 'pop_renter_error': [16736, 33385],
 'median_rent_estimate': [747, 927],
 'median_rent_error': [3, 3]})

,geoid,name,pop_renter_estimate,pop_renter_error,median_rent_estimate,median_rent_error
0,1,Alabama,1434765,16736,747,3
1,13,Georgia,3592422,33385,927,3