In [13]:
import pandas as pd
import numpy as np 
import janitor
from io import StringIO

In [27]:
df.pivot_longer(index=janitor.patterns("^ID"))

    variable value
0      group     a
1      group     a
2      group     a
3      group     a
4      group     a
..       ...   ...
100    d3_br  0.95
101    d3_br  0.05
102    d3_br  0.95
103    d3_br  0.05
104    d3_br  0.05

[105 rows x 2 columns]