In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([{'geoid': 1,
  'name': 'Alabama',
  'variable': 'pop_renter',
  'measure': 'estimate',
  'value': 1434765},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'pop_renter',
  'measure': 'error',
  'value': 16736},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'median_rent',
  'measure': 'estimate',
  'value': 747},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'median_rent',
  'measure': 'error',
  'value': 3},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'pop_renter',
  'measure': 'estimate',
  'value': 3592422},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'pop_renter',
  'measure': 'error',
  'value': 33385},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'median_rent',
  'measure': 'estimate',
  'value': 927},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'median_rent',
  'measure': 'error',
  'value': 3}])

df

   geoid     name     variable   measure    value
0      1  Alabama   pop_renter  estimate  1434765
1      1  Alabama   pop_renter     error    16736
2      1  Alabama  median_rent  estimate      747
3      1  Alabama  median_rent     error        3
4     13  Georgia   pop_renter  estimate  3592422
5     13  Georgia   pop_renter     error    33385
6     13  Georgia  median_rent  estimate      927
7     13  Georgia  median_rent     error        3