In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([{'geoid': 1,
  'name': 'Alabama',
  'variable': 'pop_renter',
  'measure': 'estimate',
  'value': 1434765},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'pop_renter',
  'measure': 'error',
  'value': 16736},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'median_rent',
  'measure': 'estimate',
  'value': 747},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'median_rent',
  'measure': 'error',
  'value': 3},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'pop_renter',
  'measure': 'estimate',
  'value': 3592422},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'pop_renter',
  'measure': 'error',
  'value': 33385},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'median_rent',
  'measure': 'estimate',
  'value': 927},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'median_rent',
  'measure': 'error',
  'value': 3}])

df

   geoid     name     variable   measure    value
0      1  Alabama   pop_renter  estimate  1434765
1      1  Alabama   pop_renter     error    16736
2      1  Alabama  median_rent  estimate      747
3      1  Alabama  median_rent     error        3
4     13  Georgia   pop_renter  estimate  3592422
5     13  Georgia   pop_renter     error    33385
6     13  Georgia  median_rent  estimate      927
7     13  Georgia  median_rent     error        3

In [28]:
box = df.pivot_table(index=['geoid','name'], columns=['variable','measure'], values=['value'], aggfunc={"value":{len, 'mean'}})
box

                    value                                                    \
                      len                                     mean
variable      median_rent          pop_renter          median_rent
measure             error estimate      error estimate       error estimate
geoid name
1     Alabama           1        1          1        1           3      747
13    Georgia           1        1          1        1           3      927



variable      pop_renter
measure            error estimate
geoid name
1     Alabama      16736  1434765
13    Georgia      33385  3592422

In [19]:
box.columns

MultiIndex([( 'len', 'value', 'median_rent',    'error'),
            ( 'len', 'value', 'median_rent', 'estimate'),
            ( 'len', 'value',  'pop_renter',    'error'),
            ( 'len', 'value',  'pop_renter', 'estimate'),
            ('mean', 'value', 'median_rent',    'error'),
            ('mean', 'value', 'median_rent', 'estimate'),
            ('mean', 'value',  'pop_renter',    'error'),
            ('mean', 'value',  'pop_renter', 'estimate')],
           names=[None, None, 'variable', 'measure'])

In [26]:
for row in box.columns:
    row = enumerate(row)
    for index, entry in row:
        if entry in ('value'):
            values_from_index = index
            break

index

1

In [3]:
df1 = pd.DataFrame(
    {
        "name": ["Wilbur", "Petunia", "Gregory", "Wilbur", "Petunia", "Gregory"],
        "drug": ["a", "a", "a", "b", "b", "b"],
        "heartrate": [67, 80, 64, 56, 90, 50],
    }
)

df1

      name drug  heartrate
0   Wilbur    a         67
1  Petunia    a         80
2  Gregory    a         64
3   Wilbur    b         56
4  Petunia    b         90
5  Gregory    b         50