In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([{'geoid': 1,
  'name': 'Alabama',
  'variable': 'pop_renter',
  'measure': 'estimate',
  'value': 1434765},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'pop_renter',
  'measure': 'error',
  'value': 16736},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'median_rent',
  'measure': 'estimate',
  'value': 747},
 {'geoid': 1,
  'name': 'Alabama',
  'variable': 'median_rent',
  'measure': 'error',
  'value': 3},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'pop_renter',
  'measure': 'estimate',
  'value': 3592422},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'pop_renter',
  'measure': 'error',
  'value': 33385},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'median_rent',
  'measure': 'estimate',
  'value': 927},
 {'geoid': 13,
  'name': 'Georgia',
  'variable': 'median_rent',
  'measure': 'error',
  'value': 3}])

df

   geoid     name     variable   measure    value
0      1  Alabama   pop_renter  estimate  1434765
1      1  Alabama   pop_renter     error    16736
2      1  Alabama  median_rent  estimate      747
3      1  Alabama  median_rent     error        3
4     13  Georgia   pop_renter  estimate  3592422
5     13  Georgia   pop_renter     error    33385
6     13  Georgia  median_rent  estimate      927
7     13  Georgia  median_rent     error        3

In [3]:
names_from = ['variable','measure']
mapping_names_from = {col: pd.unique(df.loc[:, col]) for col in names_from}

In [4]:
mapping_names_from

{'variable': array(['pop_renter', 'median_rent'], dtype=object),
 'measure': array(['estimate', 'error'], dtype=object)}

In [5]:
box = df.pivot_table(index=['geoid','name'], columns=['variable','measure'], values='value', aggfunc=[len, 'mean'])
box

                      len                                     mean           \
variable      median_rent          pop_renter          median_rent
measure             error estimate      error estimate       error estimate
geoid name
1     Alabama           1        1          1        1           3      747
13    Georgia           1        1          1        1           3      927


variable      pop_renter
measure            error estimate
geoid name
1     Alabama      16736  1434765
13    Georgia      33385  3592422

In [18]:
data = """
geoid  name  variable  measure  value
0  1  Alabama  pop_renter  estimate  1434765
1  1  Alabama  pop_renter  error  16736
2  1  Alabama  median_rent  estimate  747
3  1  Alabama  median_rent  error  3
4  13  Georgia  pop_renter  estimate  3592422
5  13  Georgia  pop_renter  error  33385
6  13  Georgia  median_rent  estimate  927
7  13  Georgia  median_rent  error  3
"""

from io import StringIO
df = pd.read_csv(StringIO(data), sep="\s{2,}", engine="python")
df.columns = df.columns.str.strip()
df

   geoid     name     variable   measure    value
0      1  Alabama   pop_renter  estimate  1434765
1      1  Alabama   pop_renter     error    16736
2      1  Alabama  median_rent  estimate      747
3      1  Alabama  median_rent     error        3
4     13  Georgia   pop_renter  estimate  3592422
5     13  Georgia   pop_renter     error    33385
6     13  Georgia  median_rent  estimate      927
7     13  Georgia  median_rent     error        3

In [21]:
box = pd.pivot_table(df, index=['geoid','name'], columns=['variable','measure'], values=['value'])
box

                    value
variable      median_rent          pop_renter
measure             error estimate      error estimate
geoid name
1     Alabama           3      747      16736  1434765
13    Georgia           3      927      33385  3592422

In [22]:
names_from = ['variable','measure']
mapping_names_from = {col: pd.unique(df.loc[:, col]) for col in names_from}

In [23]:
box.columns

MultiIndex([('value', 'median_rent',    'error'),
            ('value', 'median_rent', 'estimate'),
            ('value',  'pop_renter',    'error'),
            ('value',  'pop_renter', 'estimate')],
           names=[None, 'variable', 'measure'])

In [26]:
box.columns.get_level_values(0).intersection(['value'])

'value'

In [94]:
df1 = pd.DataFrame(
    {
        "name": ["Wilbur", "Petunia", "Gregory", "Wilbur", "Petunia", "Gregory"],
        "drug": ["a", "a", "a", "b", "b", "b"],
        "heartrate": [67, 80, 64, 56, 90, 50],
    }
)

df1

      name drug  heartrate
0   Wilbur    a         67
1  Petunia    a         80
2  Gregory    a         64
3   Wilbur    b         56
4  Petunia    b         90
5  Gregory    b         50

In [99]:
df1.pivot_table(index='name', columns='drug', values='heartrate')

drug      a   b
name
Gregory  64  50
Petunia  80  90
Wilbur   67  56