In [1]:
import pandas as pd
import numpy as np 
import janitor
from io import StringIO

In [43]:
csv = """\
a,b,name,points,marks,sets
1,2,ben,22,5,13
1,2,dave,23,4,11
"""
df = pd.read_csv(StringIO(csv))
df

   a  b  name  points  marks  sets
0  1  2   ben      22      5    13
1  1  2  dave      23      4    11

In [44]:
df.pivot_wider(index=["a", "b"],
    names_from=["name"],
    values_from_first=False,
    collapse_levels=True)

   a  b  ben_points  dave_points  ben_marks  dave_marks  ben_sets  dave_sets
0  1  2          22           23          5           4        13         11